
<style>

  /* Add white space before the first line of code */
  .gist .gist-data {
      padding-top: 13px !important;
  }

  /* Force monospace font for the code and line numbers */
  .gist .blob-code, 
  .gist .blob-num {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
    font-size: 13px !important;
  }

  .gist .gist-file {
      filter: invert(0.9) hue-rotate(180deg); /* Quick and dirty dark mode */
  }
  
  
  /* Style the entire footer line */
  .gist .gist-meta {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace !important;
    font-size: 12px !important;
  }
  
  /* Target the filename link specifically */
  /* Matches the specific class but ignores the 'view raw' link on the right */
  .gist .gist-meta a.Link--inTextBlock:not([style*="float:right"]) {
    font-weight: bold !important;
    text-decoration: underline !important;
    color: #58a6ff !important; /* A bright blue to pop against the dark filter */
  }

</style>

